*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
    
}

.debug1{
    padding-top: 50px;
    padding-bottom: 50px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}


.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.d-flex1{
    display: block;
    flex-flow: column wrap;
    justify-content: space-between;
}
ul{
    list-style: none;
}

a{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 15px 18px;
}

.button{
    border-radius: 20px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    background-color: white;
    color: black;
}

.logo{
    padding-left:30px;
}

header{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#jumbo{
    min-height: 600px;
    text-align: center;
}

.d-flex-center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.button2{
    border-radius: 20px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    background-color: black;
    color: white;
}
.colore{
    background-color: rgb(245, 245, 245);
}