*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*.debug{
    border: 1px solid black;
    
}*/

.debug1{
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

.container1{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 10px;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.d-flex1{
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;
    align-items: center;
    align-content: center;*/
}

.d-flex2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.d-flex3{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

ul{
    list-style: none;
}

a{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 15px 18px;
}

.button{
    border-radius: 20px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    background-color: white;
    color: black;
}

.button2{
    border-radius: 20px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    background-color: black;
    color: white;
}

.botton3{
    border-radius: 20px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    background-color:rgb(114, 137, 218);
    color: black;
}


.botton4{
    border-radius: 20px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    background-color:rgb(114, 137, 218);
    color: white;
}
.logo{
    padding-left:30px;
}

header{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#jumbo{
    min-height: 600px;
    text-align: center;
}

.d-flex-center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.colore{
    background-color: rgb(245, 245, 245);
}

.padding{
    padding-bottom: 40px;
}

.sfondo2{
    background-image: url(../img/stars.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer{
    background-color:rgb(35, 39, 42);
    max-width: 1200px;
    padding-left: 60px;
    padding-top: 60px;
    color: white;
}
.d-flex-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.d-flex-footer1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}